.navBar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* NEW NAVBAR CREATION  */
.navbar-links ul {
    display: flex;
    list-style: none;
}

.navbar-links ul li a {
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 20px;
}


.toggle-button{
    position: absolute;
    display: none;
    top: 30px;
    right: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 10px;
    height: 20px;
}

.toggle-button .line{
    background-color: white;
    width: 20px;
    height: 4px;
    margin: 2px;
}

@media (max-width: 500px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }

    .navBar{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .navbar-links  li a{
        margin: 2px;
        width: 100%;
    }

    .navbar-links.active{                           /* to active link and show MENU below 500px */
        display: flex;
    
    }
}
/* NEW NAVBAR CREATION  */

.albumExample {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.album {
    width: 200px;
    height: auto;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: groove;
}

.albumButton {
    display: flex;
    justify-content: space-between;
}

.paraAlign {
    text-align: justify;
    text-justify: auto;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    body {
        background-color: red;
    }
}

/* media query usees
if (condition)  then do --- */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid lightgray;
}

